<font color="#FFFFFF">
    <h1><strong><font size="5">About Us</font></strong></h1>
    <p><font size="3">
      Wir als goodnews.de moechten euch die neuesten und die unerreichbaren Nachrichten und Wissen anbieten.
    </font><br />
    
    <h3><font color="#FFFFFF"><strong>Goodnews</strong></font></h3><font size="3"> bietet die beste Moeglichkeit, zu entdecken, was es in
    der Welt Neues gibt.</font>

<br /><font size="3">Goodnews ist ein Informationsnetzwerk, welches dir in Echtzeit die neuesten Informationen zu Themen
liefert, die dich interessieren. Suche einfach nach oeffentlichen Posts, die fuer dich von Interesse sind
und folge der Konversation.
<br />
Im Herzen Goodnew's befinden sich winzige Informationspartikel, die sich Micros nennen. Jeder Micro ist 140
Zeichen lang. Aber lasse dich nicht von der Kuerze eines Micros taeuschen. Du kannst auch auf schmalem Raum
vieles mitteilen. Jeder Micro ist mit einem detaillierten Fenster verbunden, welches weiterfuehrende
Informationen enthaelt und integrierte Medien sichtbar macht. Du kannst einen Micro verwenden, um eine
Aussage zu machen. Siehe es in Aktion.
Du musst nicht unbedingt mircoposten, um einen Wert in Goodnews zu sehen.
<br /><br />


Du musst keine Webseite gestalten, um das Internet geniessen zu koennen und genauso musst du nicht
microposten, um Goodnews zu geniessen. Du hast stets Zugang zu den Stimmen und Informationen die dich
interessieren, ob du hundertmal am Tag micropostest oder nie. Du kannst etwas zu diesem Informationsfluss
beitragen oder Informationen schlicht konsumieren. Manche Leute microposten nie, sie nutzen Goodnews als
Nachrichtenquelle fuer Informationen, die sie interessieren.
</font>
<br />  
    </p>
</font>