
    <h1><strong><font size="5"><font color="#000000">About Us</font></font></strong></h1>
    <p>
      Wir als goodnews.de moechten euch die neuesten und die unerreichbaren Nachrichten und Wissen anbieten.
    </p>
