
    <h1><strong><font size="5"><font color="#000000">About Us</font></font></strong></h1>
    <p>
      Wir als goodnews.de moechten euch die neuesten und die unerreichbaren Nachrichten und Wissen anbieten.
    <br />
    
    <h3>Goodnews</h3> bietet die beste Möglichkeit, zu entdecken, was es in der Welt Neues gibt.

<br />Goodnews ist ein Informationsnetzwerk, welches dir in Echtzeit die neuesten Informationen zu Themen liefert, die dich interessieren. Suche einfach nach öffentlichen Posts, die für dich von Interesse sind und folge der Konversation.
<br />
Im Herzen Goodnew's befinden sich winzige Informationspartikel, die sich Micros nennen. Jeder Micro ist 140 Zeichen lang. Aber lasse dich nicht von der Kürze eines Micros täuschen. Du kannst auch auf schmalem Raum vieles mitteilen. Jeder Micro ist mit einem detaillierten Fenster verbunden, welches weiterführende Informationen enthält und integrierte Medien sichtbar macht. Du kannst einen Micro verwenden, um eine Aussage zu machen. Siehe es in Aktion.
Du musst nicht unbedingt mircoposten, um einen Wert in Goodnews zu sehen.
<br /><br />


Du musst keine Webseite gestalten, um das Internet geniessen zu können und genauso musst du nicht microposten, um Goodnews zu geniessen. Du hast stets Zugang zu den Stimmen und Informationen die dich interessieren, ob du hundertmal am Tag micropostest oder nie. Du kannst etwas zu diesem Informationsfluss beitragen oder Informationen schlicht konsumieren. Manche Leute microposten nie, sie nutzen Goodnews als Nachrichtenquelle für Informationen, die sie interessieren.
<br />  
    </p>
