

    <h1>Contact</h1>
    
    <p> Hochschule fuer Wirtschaft und Recht</p>
    <p> Campus Schoeneberg</p>
    <p>  Badensche Strasse 52</p>
    <p> 10825 Berlin </p>
    <p>
    Tung, Suzan, Martin
    </p>
