<font color="#FFFFFF">
<h1><strong><font size="5">Help</font></strong></h1><br>


  <p><strong><font size="4">Was ist Goodnews ueberhaupt?</font></p>

  Goodnews ist ein Informationsnetzwerk, welches aus max. 140-Zeichen langen Nachrichten besteht,
  welche sich "Micros" nennen. Es ist die neue Art und Weise, Nachrichten schnell und einfach zu
  empfangen und zu erfahren, was es neues gibt. <br><br>
  
  <p><strong><font size="4">Was nutzt es mir?</font></strong></p>

  Einige der Informationen auf Goodnews koennen für dich sehr wertvoll sein. Du kannst auswaehlen,
  wessen Updates du in deiner Timeline siehst. Du hast die Moeglichkeit, Nachrichten zu erfahren waehrend
  sie geschehen und sie somit in Echtzeit mitzuerleben.<br><br>
   


  <p><strong><font size="4">Wie du mit Goodnews beginnst?</font></strong></p>

  Wenn eines bei dir haengen bleibt, nachdem du diese Seite gelesen hast, dann sollte es folgendes sein:
  Den groeßten Nutzen kannst du aus Goodnews herausholen, indem du es als persoenliche Informationsquelle
  nutzt.<br><br>

    
    <p><strong><font size="4">1. FINDE QUELLEN: finde und folge Anderen</font></strong></p> 


Am Besten beginnst du deine Reise, indem du dich auf die Suche nach interssanten Goodnews Accounts
machst und denen folgst, die dir gefallen. Suche nach deinen Lieblingsgeschaeften, Politikern,
Schauspielern, Nachrichtendiensten, ... <br><br>

 <p><strong><font size="4">2. BLEIB AM BALL: sieh nach, was es neues gibt</font></strong></p> 

In der sogenannten Timeline erscheinen die Updates ("Mircos") der Accounts, denen du folgst, d.h.
die du als Informationsquelle ausgewaehlt hast. Je mehr Nutzern du folgst, desto mehr Informationen
erhaelst du.<br><br>


<p><strong><font size="4">Wie kann ich hier Nachrichten posten?</font></strong></p>
    

  Als erstes musst du dich mit einem Beutzernamen, einer E-Mail Adresse und einem Passwort auf der
  "Sign up" Seite registrieren.<br><br>
 So, nun kannst du im Menue "Home" mit deinem Micros beginnen!<br><br>
Wenn du ein Gravatar Account besitzt, kannst du dein Avatar im Menue "Settings" aednern.<br><br>
 
</font>