<h1>Help</h1>
<p>
  Jede Menge Hilfe erhaltet ihr wenn ihr euch
  durch die Linksklickt. <br /><br />  <br />

  <%= link_to "Was ist Goodnews ueberhaupt?", "Was", :popup => true %> <br />  <br />

  Goodnews ist ein Informationsnetzwerk, welches aus max. 140-Zeichen langen Nachrichten besteht, welche sich "Micros" nennen. Es ist die neue Art und Weise, Nachrichten schnell und einfach zu empfangen und zu erfahren, was es neues gibt.
  
  <br />  <br />

<%= link_to "Was nutzt es mir?", "Was2", :popup => true %> <br />  <br />

  Einige der Informationen auf Goodnews koennen für dich sehr wertvoll sein. Du kannst auswaehlen, wessen Updates du in deiner Timeline siehst. Du hast die Moeglichkeit, Nachrichten zu erfahren während sie geschehen und sie somit in Echtzeit mitzuerleben.
    <br />  <br />


  <%= link_to "Wie du mit Goodnews beginnst?", "Was3", :popup => true %> <br />  <br />

  Wenn eines bei dir haengen bleibt, nachdem du diese Seite gelesen hast, dann sollte es folgendes sein: Den groeßten Nutzen kannst du aus Goodnews herausholen, indem du es als persönliche Informationsquelle nutzt.
    <br />  <br />

    
    <h3>1. FINDE QUELLEN: finde und folge Anderen</h3>  <br />


Am Besten beginnst du deine Reise, indem du dich auf die Suche nach interssanten Goodnews Accounts machst und denen folgst, die dir gefallen. Suche nach deinen Lieblingsgeschaeften, Politikern, Schauspielern, Nachrichtendiensten, ... (Klicke hier für mehr Infos dazu, wie du am besten suchst)
<h3>2. BLEIB AM BALL: sieh nach, was es neues gibt</h3>

In der sogenannten Timeline erscheinen die Updates ("Mircos") der Accounts, denen du folgst, d.h. die du als Informationsquelle ausgewaehlt hast. Je mehr Nutzern du folgst, desto mehr Informationen erhälst du.
  <br />
  <br />


  <%= link_to "Wie kann ich hier Nachrichten posten?", "Was4", :popup => true %> <br />
    <br />

  Als erstes mußt du dich mit einem Beutzernamen, einer E-Mail Adresse und einem Passwort auf der "Sign up" Seite registrieren.
  <br />  <br />

  So, nun kannst du im Menue "Home" mit deinem Micros beginnen!
  <br />  <br />

  Wenn du ein Gravatar Account besitzt, kannst du dein Avatar im Menue "Settings" aednern.

  <br />  <br />


</p>  
